<!DOCTYPE html>
<html>
<head>
  <title>Warwickshare</title>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'logo.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'listings', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'braintree', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'braintree', 'data-turbolinks-track': 'reload' %>

</head>

<body>
   <!--Navbar-->
   <nav class="navbar navbar-inverse">
    <div class="container-fluid">
     <div class="navbar-header">
      <a class="navbar-brand" href="#">WarwickShare</a>
   </div>
</div>
</nav>

<%= yield %>
</body>

<footer class="footer navbar-inverse">
  <div class="container">                  
    <div class="row justify-content-center">             
      <div>

      </div>
      <div class="col-auto">
        <div>                        
          <a class="btn btn-soial-icon btn-facebook" href="https://www.facebook.com/proste.franta.9"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-soial-icon btn-linkedin" href="https://www.linkedin.com/in/frantisek-friedl/"><i class="fa fa-linkedin"></i></a>
          <a class="btn btn-soial-icon btn-bitbucket" href="https://bitbucket.org/account/user/selfquantedcom/projects/PRF"><i class="fa fa-bitbucket"></i></a>                       
       </div>
       <p>Copyright © 2018, Frantisek Friedl</p>
    </div>
 </div>
</div>
</footer>
</html>

