<!-- Background picture -->
<div class="hero-image">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">                        
              <div class="col-xs-6">
                <a class="active" href="#">Login</a>
              </div>
              <div class="col-xs-6">
                <a href="registration">Registration</a>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
               <form>
                <div class="form-group">
                  <label for="inputs">Warwick Email</label>
                  <input class="form-control input-sm" id="inputsm" type="text">
                </div>
                <div class="form-group">
                  <label for="inputdefault">Password</label>
                  <input class="form-control" id="inputdefault" type="password">
                </div>                            
              </form>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <form action="search">
                  <button type="submit" class="form-control btn btn-register"/>Submit</button>
                </form>

              </div>
            </div>
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>
</div>